body {
    font-family: 'League Spartan', sans-serif;
    font-size: 15px;
    padding: 6rem 8rem;
}

.magenta {
    color: hsl(300, 43%, 22%);
}

.white {
    color: hsl(0, 0%, 100%);
}

.pink {
    color: hsl(333, 80%, 67%);
}

main > h1 {
    font-weight: 700;
    font-size: 3rem;
    width: 50%;
}

main p {
    font-weight : 400;
}

main {
    margin-left: 1.2em;
}

.review {
    width: 25em;
    height: 3rem;
    border-radius: .5em;
    background: hsl(300, 24%, 96%);
    text-align: center;
    padding: 1em;
    font-weight: 500;
    margin: 1.5em;
}

span {
    padding-left: 1.5rem;
}

#second-rev {
    margin-left: 5em;
}

#third-rev {
    margin-left: 10em;
}

.buyers {
    padding-top: 2em;
}

.verified {
    border-radius: .5em;
    background: hsl(300, 43%, 22%);
    margin: 0 1em;
    width: 25em;
    height: 14em;
    padding: 2em;
}

img {
    border-radius: 100%;
    width: 15%;
}

#second-buy {
    margin-top: 2em;
}

#third-buy {
    margin-top: 4em;
}

@media screen and (max-width: 1400px) {

    body {
        width: 100vw;
        position: absolute;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: baseline;
    }

    .flex {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    main {
        text-align: center;
        margin-left: 0;
    }

    main > h1 {
        width: 100%;
    }

    #second-rev, #third-rev {
        margin-left: 1.5em;
    }

    main > p {
        font-size: 1.2em;
    }

    h1 {
        font-size: 10em;
    }

    main, body > div {
        padding-right: 0.5em;
    }

    .review {
        height: 5.5rem;
    }

    .upgrade {
        font-size: 1.5em;
        padding-top: 0.5em;
        padding-left: 0;
    }

    #third-buy {
        margin: 2em;
    }

    .start {
        justify-content: flex-start;
    }

    .verified {
        width: 24em;
    }

    .buyers {
        padding-top: 0;
    }

    svg {
        margin: 0 0.3em;
    }
}
